name: Code Test

on:
  push:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Code uthao
        uses: actions/checkout@v4

      - name: Java lao
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Test chalao
        run: mvn clean test
